html {
    background-color: #7c7c7c; /* Average color of splash image */
}

body {
    position: relative;
    font-family: "Open Sans";
    color: #111;
    font-size: .8em;
}

ul {
    margin: 0; padding: 0; list-style-type: none;
}

iframe {
    border: 0; overflow: hidden; width: 100%; height: 100%;
}

img {
    -ms-interpolation-mode: bicubic; /* Not supported as of IE10? */
}



h2 {
    margin: 8px 0;
    font-size: 1.5em; font-weight: 600; text-transform: uppercase;
    vertical-align: bottom;
}

h2 > .date {
    color: #666;
    font-style: italic; font-weight: 400;
}

p:first-child, blockquote:first-child { margin-top: 0;}

blockquote {
    /*margin: 1.5em 0 1em 40px;*/
    margin: 2em 0 0em 0em;
    font-style: italic;
}

blockquote + p {
    margin-bottom: 1.5em;
}

blockquote > em {
    font-style: normal;
}


blockquote:before {
    content:'«\00a0';
}

blockquote:after {
    content:'\00a0»';
}

blockquote + cite {
    display: block;
    margin: .5em 0 2em 2em;
    font-style: normal;
}


.sprite {
    background-image: url(images/sprite1.png);
    background-repeat:no-repeat;
    text-indent: -10000px;
}

a {
    color: #000; font-weight: 600; text-decoration: underline;
}

a:hover, a:active {
    color: #e11;
}



/* Main containers */
#index {
    position: fixed; display: none; z-index: 50;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: url(images/bg_index1.jpg);
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.indextitle {
    display: block; position: absolute;
    width: 700px; height: 162px;
    text-indent: -10000px;
    background-image: url(images/title700.png);
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

.maptitle {
    display: none; position: absolute; z-index: 30;
    top: 8px; left: 36px; width: 281px; height: 65px;
    background-image: url(images/title281.png);
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

.indextitle > a {
    display: block; width: 700px; height: 162px;
    outline: none;
}

.maptitle > a {
    display: block; width: 281px; height: 65px;
    outline: none;
}

.indextitle h1, .maptitle h1 {
    margin: 0; padding: 0;
    text-indent: -10000px;
}



/*
#enter {
    position: absolute;
    left: 10px; bottom: 20px;
}

#enter a {
    color: #fff;
    font-size: 2.5em; font-weight: 400;
    text-transform: uppercase; text-decoration: none; text-shadow: 1px 1px 4px #333;
}
*/

#nav {
    position: fixed; overflow: hidden; z-index: 70;
    top: 6px; right: 4px; height: 30px; /*width: 192px;*/
    background-image: url(images/black50.png);
    /*background-color: #888;*/
}

#menu {
    float: left;
    margin: 2px 4px 2px 2px; padding: 4px 12px; height: 18px; line-height: 18px;
    color: #222; background-color: #aaa;
    font-size: 1em;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);

    cursor: pointer;
}

#menu:hover {
    background-color: #ddd;
}

#menu.dropdown-open {
    background-color: #ddd;
}


ul#lang {
    position: relative; float: left;
}

.lang {
    display: block; float: left;
    width: 24px; height: 24px; margin: 0 4px;
    opacity: .75;
    cursor: pointer;
    overflow: hidden; /* http://stackoverflow.com/questions/1432889/negative-text-indent-causes-large-link-selection-on-click */
}

.lang.active, .lang:hover {opacity: 1 !important;}
.lang.active {border-bottom: solid 3px #fff;}

.lang.disabled, .lang.disabled:hover {
    opacity: .25 !important;
    cursor: default !important;
}

#langen { background-position: 0 0; }
#langes { background-position: -24px 0; }
#langca { background-position: -48px 0; }
#langfr { background-position: -72px 0; }
#langit { background-position: -96px 0; }
#langde { background-position: -120px 0; }


#container {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
}

#map-canvas {
    position: fixed; z-index: 10;
    width: 100%; height: 100%;
}

#timeline {
    z-index: 20;
}

#pane {
    position: fixed; display: none; z-index: 40; overflow: hidden;
    top: 2px; right: 0px; bottom: 88px; padding: 4px; min-width: 600px !important;
    background-color: #999;
}

#pane-content {
    position: absolute; overflow: auto;
    top: 100px; right:0; bottom: 0; left: 0;
    padding: 12px 8px 0 8px;
    text-align: left; font-size: 1.1em;
}

#pane h1 {
    text-indent: 0;
}


#ctrl-pane-close {
    background-position: 0 -24px;
}

#ctrl-centermap {
    background-position: -29px -24px;
}

/*
#page {
    position: fixed; z-index: 60; display: none;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: transparent; background-image: url(images/pattern1.png);
}

#pagei {
    width: 800px; max-width: 90%;
    margin: 96px auto 0 auto; padding: 24px 12px;
    background-image: none; background-color: #999; background-color: #fff;
    box-shadow: 0 0 4px #000;
}
*/

/*
#page {
    position: fixed; z-index: 60; display: none;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #999;
    font-size: 1.1em;
}

#page .title281 {
    position: absolute;
    top: 8px; left: 36px; width: 281px; height: 65px;
}

#pagei {
    width: 700px; max-width: 90%;
    margin: 96px auto 0 auto;
}
*/


#index {
    position: fixed; z-index: 50;
    width: 100%; height: 100%;
    background-color: #CCC;
}

/*
#title281 {
    display: none; position: absolute; z-index: 30;
    top: 8px; left: 36px; width: 281px; height: 65px;
}
*/

.sqrbtn {
    display: inline-block;
    width: 30px; height: 30px; margin: 0 1px 0 0;
    color: #777;
    line-height: 30px; vertical-align: top;
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    cursor: pointer; opacity: .5;
}

.sqrbtn:hover { opacity: 1; }

#ctrl-filter-markers {
    display: inline-block;
    margin: 0 4px 0 0; padding: 4px 12px; height: 22px; line-height: 22px;
    color: #222; background-color: #AAA;
    font-size: 1em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    cursor: pointer;
}


/*
.infoBox {
    width: 150px;
    padding: 0 0 4px 0;
    background-color: transparent; background-image: url(images/bg1.png); background-repeat: no-repeat; background-position: bottom center;
}

.infoBox > span {
    display: block;
    padding: 4px 4px 6px 4px;
    border: solid 1px #AAA; border-width: 1px 1px 0 1px;
    background-color: #FFF; color: #444;
    font-size: 11px; text-align: center;
}
*/

.infoBox {
    width: 150px;
    padding: 0 0 4px 0;
    background-color: transparent; background-image: url(images/bg1.png); background-repeat: no-repeat; background-position: bottom center;
}

.infoBox > div {
    display: block;
    /*padding: 4px 4px 6px 4px;*/
    border: solid 1px #AAA; border-width: 1px 1px 0 1px;
    background-color: #FFF; color: #444;
    font-size: 11px; text-align: center;
}

.infoBox-cat {
    padding: 4px;
    -webkit-box-shadow: inset 0px -20px 3px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -20px 3px 1px rgba(0, 0, 0, 0.15);
}


.infoBox-cat.icon3,
.infoBox-cat.icon6,
.infoBox-cat.icon9,
.infoBox-cat.icon10 {
    color: #ddd;
}

.infoBox-name {
    padding: 4px 4px 6px 4px;
}



.media-container {
    margin: 12px 0;
    background-color: #999;
}

.media-container > .media {
    background-color: #888;
    background-image: url(images/miniloader.gif); background-position: 50% 50%; background-repeat: no-repeat;
}

.media-container > .media > img {
    display: block;
}

.media-container > .media > img.loaded {
    cursor:pointer;
}

.media-container > .caption {
    padding: 4px 4px 8px 4px;
    color: #333;
    font-size: .9em; text-align: center;
}


.icon0 { background-color: #999999 !important; }
.icon1 { background-color: #c0ff00 !important; }
.icon2 { background-color: #ff6a00 !important; }
.icon3 { background-color: #ff2a00 !important; }
.icon4 { background-color: #00ffbf !important; }
.icon5 { background-color: #00bfff !important; }
.icon6 { background-color: #006aff !important; }
.icon7 { background-color: #66ffff !important; }
.icon8 { background-color: #ffbf00 !important; }
.icon9 { background-color: #ff00bf !important; }
.icon10 { background-color: #3f3329 !important; }

.off { background-color: #bbb !important; }
.off:hover { background-color: #ddd !important; }



/* Overlay (mode plein écran) */
#overlay {
    position: fixed; display: none; overflow: hidden;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #777;
    z-index:2000;
}

#overlay > #overlay-close {
    position: fixed; z-index: 1000;
    top: 4px; right: 4px; width: 48px; height: 48px;
    font-size: 28px; text-align: center; line-height: 32px;
    cursor: pointer;
    background-position: -200px 0px;
}

#overlay > #overlay-close:hover {
    background-position: -248px 0px;
}

#overlay > #overlay-close:active {
    background-position: -296px 0px;
}


#overlay > #overlay-view {
    z-index: 999;
}

#overlay > #overlay-caption {
    position: fixed;
    bottom: 0; left: 0; width: 100%; height: 36px;
    color: #333;
    font-size: 1em;
    text-align: center;
}


.clickable {
    cursor: pointer;
}


#logos {
    position: fixed;
    bottom: 4px; right: 4px;
}

#logos img {
    display: inline-block;
    line-height: 72px;
    margin: 0 4px;
    border: 0;
}

#logos a {
    display: inline-block;
}

a.btn {
    display: inline-block;
    margin: 24px 0 0 0; padding: 4px 24px; height: 18px; line-height: 18px;
    color: #222; background-color: #999; font-weight: normal;
    text-decoration: none; text-align: center;
    vertical-align: middle; cursor: pointer;
    background-color: #aaa;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;



}

a.btn:after { content:' \00BB'; }

a.btn:hover {
    background-color: #666;

}

.logow100 {
    display: inline-block;
    margin: 8px 4px;
}

.smtxt {
    font-size: .9em;
}